.button {
    padding: 1.2em;
    border-radius: var(--rounded);
    border: none;
    background-color: var(--green);
    font-size: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 300ms;
}

.button:hover {
    background-color: #fff;
    border: solid 2px var(--green);
}