.login_wrapper {
    width: 30%;
    height: auto;
    border-radius: var(--rounded);
    padding: 1em;
    box-shadow: #cccccca8 0px 0px 30px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.btnWrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2em;
}

.input_wrapper {
    width: 80%;
}