.searchBar {
    padding: 1.5em;
    border-radius: var(--rounded);
    border: 2px solid var(--blue);
    margin: 20px;
    width: 500px;
}

.searchbar_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }