.main_wrapper {
    width: 100%;
    min-height: 10vh;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: space-between;
    z-index: 10;
}

.logo {
    color: white;
    text-transform: uppercase;
}

.login {
    text-transform: uppercase;
    color: white;
    padding: 0 1.3em;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}