:root {
  --blue: #2DE1FC;
  --blue2: rgb(38, 192, 216);
  --green: #2AFC98;
  --green2: #09E85E;
  --rounded: 8px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

h1 {
  text-align: center;
}

.pagination_wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
  margin-bottom: 30px;
}